page-feed {

    ion-header::after {
        background-image: none;
        }
        
    .toolbar-background {
        background-color: #F2A207;
      }

    figure {
        margin:20px !important;
    }
}
